{% extends "base1.html" %}
{% block title %}Sign-up with PyDo{% endblock %}
{% block body %}

<div class="row">
  <div class="col-1 col-md-2 col-lg-3"></div>
  <div class="col-10 col-md-8 col-lg-6">
    <form class="card my-4 w-75 mx-auto bg-red text-center" method="POST" action="#">
      {% csrf_token %}
      <div class="card-header bg-red text-light text-center">
        <large>Sign-up</large>
      </div>
      <div class="text-center form-group text-muted my-1 py-1 px-1">
        <small class="text-center text-light">PyDo the ToDo of future.</small>
      </div>
      <div class="form-group my-1 py-1 px-1">
        <input type="text" class="form-control text-center mx-auto" style="width: 80%;" name="name" id="name"
          value="{{ usr.name }}" aria-describedby="nameHelp" placeholder="Enter Your Name" required>
        <small id="nameError" class="text-danger text-center">{{ nameError }}</small>
      </div>
      <div class="form-group my-1 py-1 px-1">
        <input type="email" class="form-control text-center mx-auto" style="width: 80%;" name="email" id="email"
          value="{{ usr.email }}" aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="emailError" class="text-danger text-center">{{ emailError }}</small>
      </div>
      <div class="form-group my-1 py-1 px-1">
        <input type="password" class="form-control text-center mx-auto" style="width: 80%;" name="password"
          id="password" value="{{ usr.password }}" placeholder="Create a Password" required>
        <small id="passwordError" class="text-danger text-center">{{ passwordError }}</small>
      </div>
      <div class="form-check">
        <small class="form-check-label display-block text-center text-light " for="exampleCheck1">
          Please Read this License before sign-up
        </small>
      </div>
      <button type="submit" class="btn my-2 text-light w-50 text-center mx-auto bg-gradred"
        id="submit-btn">Sign-up</button>
      <div class="text-center form-group my01 py-1 px-1" style="color: #dddddd">
        Already have an account? <a href="/log-in" class="text-light">Log-in</a>.
      </div>
    </form>
  </div>
  <div class="col-1 col-md-2 col-lg-3"></div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    const name = $("#name");
    const email = $("#email");
    const password = $("#password");
    const btn = $("#submit-btn");
    const auths = []
    name.on("input", () => {
      if ((name.val().length > 50) || (name.val().length < 2)) {
        $("#nameError").text("Please enter Your Legal name and your name should not be greater than 50 Characters.");
      } else {
        $("#nameError").text("");
      }
    });
    email.on("input",
      () => {
        if (email.val().match(/([\w\.-]+)@([\w\.-]+)(\.[\w\.]+)/) == null) {
          $("#emailError").text("Please enter valid Email-id.");
        } else {
          $("#emailError").text("");
        }
      });
    password.on("input",
      () => {
        if (password.val().length < 8) {
          $("#passwordError").text("Please create a password greater than or equal to 8.");
        } else {
          $("#passwordError").text("");
        }
      });
  });
</script>
{% endblock %}